

body {
  margin: 10px;
  font-family: 'Ropa Sans';
  font-size: 19px;
  background-color: #B6C1EA;
  color: #414141;
  width: auto;
}

.body-blur {
  filter: blur(2px);
}


button {
  text-align: center;
  color: black;
  border: solid 2px black;
  border-radius: 2px;
  letter-spacing: 0.3px;
  padding: 7px;
  width: 180px;
  font-weight: 500;
  font-size: 16px;
  margin: 8px;
  transition: 1.8s;
  background-color: #B3BFEC;
  box-shadow: 0.5px 1px 2px  #72778C;
}

btn {
  border: solid 2px black;
}

button:active {
  border: solid 2px black;
}

.gridcontainer{
  max-width: 1000px;
  margin: 0 auto;
}
ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline-flex;
  margin-left: 20px;
  margin-bottom: 6px;
}

button:hover {
  transform: scale(1.04);
  transition: 0.5s;
  box-shadow: 3px 4px 8px  #42FFBB;
  letter-spacing: 0.5px;
}


header {
  display: block;
  position: relative;
  right: 40px;
}

nav > h1 {
  display: inline-block;
  position: static;
  font-family: 'Rowdies';
  font-size: 45px;
  text-shadow:  3px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
  background-color: inherit;
  color: #42FFBB;
  width: 250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 3px;
  transition: 0.8s;
}

nav > h1:hover {
  letter-spacing: 5px;
  transition: 1s;
}

nav > img:hover {
  transform: scale(1.1);
  transition: 1s;
}

nav > img {
  display: inline-block;
  z-index: 1;
  position: relative;
  left: 290px;
  top: 92px;
  transition: 1s;
}

.searchitem {
  margin: 0 auto;
  text-align: center;
  background-color: #80FFD1;
  width: auto;
  padding: 25px;
  transition: 1.8s;
}

.searchitem:hover {
  transform: scale(1.02);
  transition: 1s;
}

.search-block {
  position: relative;
  right: 35px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

input {
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
  font-family: inherit;
  font-size: 15px;
  height: 23px;
  width: auto;
}

.modal {
  display: none;
  position: sticky;
  z-index: 1;
  border-radius: 2px;
  margin: 0 auto;
  text-align: center;
  background-color: #80FFD1;
  width: 500px;
  height: 350px;
  bottom: 400px;
  left: 140px;
  opacity: 0.98;
  padding: 20px;
  animation: modalslide 1.3s ease;
}

.modal > h2 {
  display: block;
  position: relative;
  bottom: 25px;
}

.modal > p {
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 35px;
}


.modal-close {
  display: block;
  background-color: white;
  opacity: 0.8;
  width: auto;
  height: auto;
  position: relative;
  bottom: 120px;
  left: 460px;
  border-radius: 1000px;
  font-size: 10px;
  font-weight: bold;
}

.pokemon-img {
  position: relative;
  bottom: 65px;
  border: solid 3px black;
  border-radius: 2px;
  padding: 10px;
  background: linear-gradient(19deg, #5E6CA0, white, #B6C1EA, #B6C1EA);
  width: 200px;
  height: 200px;;
  transition: 1.5s;
  animation: pokemon-glitter 3.5s ease;
  animation-delay: 1s;
  background-size: 400% 400%;
  filter: brightness(1px);
  filter: contrast(110%);

}

.pokemon-img:hover {
  transform: scale(1.03);
  transition: 1.5s;
  box-shadow: inset 0 0 10px #42FFBB;
}


.PokemonList {
  display: block;
  background-color: #B6C1EA;
  width: auto;
  margin: 0 auto;
  padding: 30px;
  border-radius: 3px;
  transition: 1.8s;
}

nav {
  display: flex;
  width: 100%;
  height: 80px;
  display: inline-block;
  background-color: inherit;
  text-align: center;
}

form {
  display: block;
}

#add-button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background-color: inherit;
  font-size: 17px;
  z-index: 1;
  font-family: 'Rowdies';
  color: #B6C1EA;
  text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
  position: relative;
  bottom: 50px;
  left: 240px;
  width: 150px;
  height: auto;
  border: none;
  box-shadow: none;
  transition: 1s;
}

#add-button:active {
  color: white;
  transform: scale(1.07);
}

#add-button:hover {
  transform: scale(1.07);
  transition: 1s;
}


#addPokemon-button {
  background-color: #B3BFEC;
  cursor: pointer;
  width: auto;
  line-height: 12px;
}

.addPokemon {
  display: block;
  height: 0;
}

.addPokemonModal {
  display: none;
  position: sticky;
  margin: 0 auto;
  z-index: 1;
  border-radius: 3px;
  top: 200px;
  text-align: center;
  padding: 25px;
  background-color: #80FFD1;
  width: 300px;
}

.addPokemonModal > input {
  display: inline-block;
  margin: 2px;
  width: 100px;
}

.addPokemonModal > label {
  display: inline-block;
  width: 40px;
  text-align: left;
}


@keyframes modalslide {
  0% {
    transform: translateZ(250px);
    opacity: 0.1;

  }
  100%{
    transform: translateZ(0);
    opacity: 0.98;
  }
}

/*@keyframes pokemon-glitter {
  0% {
    background: linear-gradient(19deg, #B6C1EA, #42FFBB, #B6C1EA);
  }
  50% {
    background: linear-gradient(19deg, #B6C1EA, #42FFBB, #42FFBB);
  }
  100% {
    background: linear-gradient(19deg, #42FFBB, #42FFBB, #B6C1EA);
  }
}*/

@keyframes pokemon-glitter {
    0%{background-position:28% 0%}
    50%{background-position:73% 100%}
    100%{background-position:28% 0%}
}
