

body {
  margin: 10px;
  font-family: 'Ropa Sans';
  font-size: 19px;
  background-color: #B6C1EA;
  color: #414141;
  width: auto;
}

.body-blur {
  filter: blur(2px);
}

button > span {
  font-size: 40px;
  color: black;
}

button {
  text-align: center;
  color: black;
  border: solid 2px black;
  border-radius: 2px;
  letter-spacing: 0.3px;
  padding: 7px;
  width: 180px;
  font-weight: 500;
  font-size: 16px;
  margin: 8px;
  transition: 1.8s;
  background-color: #B3BFEC;
  box-shadow: 0.5px 1px 2px  #72778C;
}

.btn {
  border: solid 2px black;
  transition: 1s;
}

.btn:hover {
  color: #202020;
}

.gridcontainer{
  max-width: 1000px;
  margin-top: 60px;
  margin: 0 auto;
}
ul {
  list-style: none;
  text-align: center;
}

li {
  display: inline-flex;
  margin-left: 20px;
  margin-bottom: 6px;
}

button:hover {
  transform: scale(1.04);
  transition: 0.5s;
  box-shadow: 3px 4px 8px  #42FFBB;
  letter-spacing: 0.5px;
}


header {
  display: block;
}

.navbar {
  background-color: #B6C1EA;
  font-family: 'Rowdies';
}

nav > a> h1 {
  display: inline-block;
  position: static;
  font-family: 'Rowdies';
  font-size: 45px;
  text-shadow:  3px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
  background-color: inherit;
  color: #42FFBB;
  width: 250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 3px;
  transition: 0.8s;
}

nav > a > h1:hover {
  letter-spacing: 5px;
  transition: 1s;
}

#logoImg {
  position: relative;
  bottom: 6px;
}

#searchNames{
  margin-top: 65px;
}

.searchitem {
  margin: 0 auto;
  text-align: center;
  background-color: #80FFD1;
  width: auto;
  padding: 25px;
  transition: 1.8s;
}

.searchitem:hover {
  transform: scale(1.02);
  transition: 1s;
}

.search-block {
  position: relative;
  right: 35px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

input {
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
  font-family: inherit;
  font-size: 15px;
  height: 27px;
  width: auto;
}

#close-btn {
  background-color: inherit;
  z-index: 1;
  width: auto;
  height: auto;
  box-shadow: none;
}

#close-btn:hover {
  box-shadow: none;
  transform: none;
}

.modal-title {
  text-align: center;
}

.modal-header {
  background-color: white;
  font-family: 'Rowdies';
  color: #42FFBB;
  letter-spacing: 1px;
  text-shadow:  2px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

#modalBody {
  display: block;
}

.modal-body > p {
  display: inline-block;
  text-align: center;
}

.PokemonList {
  display: block;
  background-color: #B6C1EA;
  width: auto;
  margin: 0 auto;
  margin-top: 125px;
  padding: 30px;
  border-radius: 3px;
  transition: 1.8s;
}

form {
  display: block;
}

.modal-body {
  background-color: white;
  font-size: 22px;
  background: opacity(0.8);
}

.imgPokemon {
  max-width: 250px;
  margin: 15px;
  min-height: 250px;
  transition: 1s;
}

.imgPokemon:hover {
  transform: scale(1.03);
  transition: 1.5s;
}

.imgDiv {
  display: block;
  background: linear-gradient(19deg, #80FFD1, white, #42FFBB, #42FFBB);
  animation: pokemon-glitter 3.5s ease;
  animation-delay: 1s;
  background-size: 400% 400%;
}

@keyframes pokemon-glitter {
    0%{background-position:28% 0%}
    50%{background-position:73% 100%}
    100%{background-position:28% 0%}
}
