/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  margin: 10px;
  font-family: 'Ropa Sans';
  font-size: 19px;
  background-color: #b6c1ea;
  color: #414141;
  width: auto;
}

button > span {
  font-size: 40px;
  color: black;
}

button {
  text-align: center;
  color: black;
  border: solid 2px black;
  border-radius: 2px;
  letter-spacing: 0.3px;
  padding: 7px;
  width: 180px;
  font-weight: 500;
  font-size: 16px;
  margin: 8px;
  -webkit-transition: 1.8s;
  -o-transition: 1.8s;
  transition: 1.8s;
  background-color: #b3bfec;
  -webkit-box-shadow: 0.5px 1px 2px  #72778c;
  box-shadow: 0.5px 1px 2px  #72778c;
}

.btn {
  border: solid 2px black;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.btn:hover {
  color: #202020;
}

.gridcontainer {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 20px;
  margin-bottom: 6px;
}

button:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 3px 4px 8px  #42ffbb;
  box-shadow: 3px 4px 8px  #42ffbb;
  letter-spacing: 0.5px;
}


header {
  display: block;
}

.navbar {
  background-color: #b6c1ea;
  font-family: 'Rowdies';
}

nav > a > h1 {
  display: inline-block;
  position: static;
  font-family: 'Rowdies';
  font-size: 45px;
  text-shadow:
    3px  1px 1px black,
    1px -1px 1px black,
    -1px  1px 1px black,
    -1px -1px 1px black;
  background-color: inherit;
  color: #42ffbb;
  width: 250px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 3px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

nav > a > h1:hover {
  letter-spacing: 5px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#logoImg {
  position: relative;
  bottom: 6px;
}

#searchNames {
  margin-top: 65px;
}

.searchitem {
  margin: 0 auto;
  text-align: center;
  background-color: #80ffd1;
  width: auto;
  padding: 25px;
  -webkit-transition: 1.8s;
  -o-transition: 1.8s;
  transition: 1.8s;
}

.searchitem:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.search-block {
  position: relative;
  right: 35px;
}

label {
  display: inline-block;
  margin-right: 10px;
}

input {
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
  font-family: inherit;
  font-size: 15px;
  height: 27px;
  width: auto;
}

#close-btn {
  background-color: inherit;
  z-index: 1;
  width: auto;
  height: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#close-btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.modal-title {
  text-align: center;
}

.modal-header {
  background-color: white;
  font-family: 'Rowdies';
  color: #42ffbb;
  letter-spacing: 1px;
  text-shadow:
    2px  1px 1px black,
    1px -1px 1px black,
    -1px  1px 1px black,
    -1px -1px 1px black;
}

#modalBody {
  display: block;
}

.modal-body > p {
  display: inline-block;
  text-align: center;
}

.PokemonList {
  display: block;
  background-color: #b6c1ea;
  width: auto;
  margin: 0 auto;
  margin-top: 125px;
  padding: 30px;
  border-radius: 3px;
  -webkit-transition: 1.8s;
  -o-transition: 1.8s;
  transition: 1.8s;
}

form {
  display: block;
}

#loader {
  visibility: hidden;
  z-index: 10000;
  color: #80ffd1;
}

.modal-body {
  background-color: white;
  font-size: 22px;
}

.imgPokemon {
  max-width: 250px;
  margin: 15px;
  min-height: 250px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#heightNumber {
  font-weight: bolder;
  color: black;
}

#weightNumber {
  font-weight: bolder;
  color: black;
}

#typeText {
  font-weight: bolder;
  color: black;
}

.imgPokemon:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}

.imgDiv {
  display: block;
  background: -o-linear-gradient(71deg, #80ffd1, white, #42ffbb, #42ffbb);
  background: linear-gradient(19deg, #80ffd1, white, #42ffbb, #42ffbb);
  -webkit-animation: pokemon-glitter 3.5s ease;
  animation: pokemon-glitter 3.5s ease;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  background-size: 400% 400%;
}

@-webkit-keyframes pokemon-glitter {
  0% {
    background-position: 28% 0%;
  }

  50% {
    background-position: 73% 100%;
  }

  100% {
    background-position: 28% 0%;
  }
}
